In [1]:
import numpy as np
import pandas as pd
import glob
import sys
import h5py
#from netCDF4 import Dataset
from datetime import datetime
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt
from scipy.spatial import cKDTree

import pyarrow as pa
import pyarrow.parquet as pqw

from functools import reduce
import operator
import gc

In [2]:
# plot settings
plt.rc('font', family='serif') 
plt.rc('font', serif='Times New Roman') 
plt.rcParams.update({'font.size': 16})
plt.rcParams['mathtext.fontset'] = 'stix'

In [3]:
# PySpark packages
from pyspark import SparkContext   
from pyspark.sql import SparkSession

import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark import Row
from pyspark.sql.window import Window as W

#spark = SparkSession.builder \
#    .master("yarn") \
#    .appName("spark-shell") \
#    .config("spark.driver.maxResultSize", "32g") \
#    .config("spark.driver.memory", "32g") \
#    .config("spark.executor.memory", "6g") \
#    .config("spark.executor.cores", "1") \
#    .config("spark.executor.instances", "30") \
#    .getOrCreate()

#    .config("spark.executor.memory", "14g") \
#    .config("spark.executor.cores", "2") \
#    .config("spark.executor.instances", "60") \
#    .config("spark.executor.memory", "6g") \
#    .config("spark.jars.packages", "graphframes:graphframes:0.7.0-spark2.4-s_2.11") \
#    .getOrCreate()

spark = SparkSession.builder \
    .appName("MyApp") \
    .master("spark://sohnic:7077") \
    .config("spark.driver.memory", "100g") \
    .getOrCreate()

sc = spark.sparkContext
sc.setCheckpointDir("hdfs://sohnic:54310/tmp/checkpoints")

spark.conf.set("spark.sql.debug.maxToStringFields", 500)
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/24 11:00:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/24 11:00:47 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
sc.getConf().getAll()[:10]

[('spark.rdd.compress', 'True'),
 ('spark.driver.port', '38589'),
 ('spark.master', 'spark://sohnic:7077'),
 ('spark.app.id', 'app-20240924110047-0001'),
 ('spark.sql.warehouse.dir', 'file:/home/lshin/spark-warehouse'),
 ('spark.app.name', 'MyApp'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.pyFiles', ''),
 ('spark.driver.host', 'sohnic'),
 ('spark.driver.memory', '100g')]

In [7]:
#h5dir = '/mnt/raid5/lshin/'
#flist = !ls /mnt/raid5/lshin

h5dir = '/home/lshin/TNG300/snap99/'
flist = !ls /home/lshin/TNG300/snap99

h5list = flist[1:]#[2:]
print(h5list[:5])

['snap099_sorted_x0_y0_z0.csv', 'snap099_sorted_x0_y0_z1.csv', 'snap099_sorted_x0_y0_z2.csv', 'snap099_sorted_x0_y0_z3.csv', 'snap099_sorted_x0_y0_z4.csv']

In [10]:
numh5list = len(h5list)
print(numh5list)

600

In [11]:
h5dir+h5list[0]

'/home/lshin/TNG300/snap99/snap099_sorted_x0_y0_z0.csv'

In [13]:
%%time
df = pd.read_csv(h5dir+h5list[0])
df.head()
#h5f.keys()

CPU times: user 584 ms, sys: 50.4 ms, total: 635 ms
Wall time: 633 ms

,px,py,pz,vx,vy,vz,mass
0,15389.089310,954.616907,4401.295627,-119.992165,-28.731781,-266.06906,0.000588
1,15389.030575,954.669960,4401.003768,-101.488754,12.874359,-215.97354,0.000428
2,15389.011885,955.174487,4400.624592,-84.585670,-22.560968,-274.01807,0.000623
3,15389.240237,955.166115,4401.306553,-48.979668,-38.064640,-236.63635,0.000476
4,15389.082537,955.356952,4401.132427,-76.940155,-1.374161,-279.79910,0.000767

# Save selected features as a parquet

In [34]:
schema = T.StructType([\
                       T.StructField('px',T.FloatType(), True),\
                       T.StructField('py',T.FloatType(), True),\
                       T.StructField('pz',T.FloatType(), True),\
                       T.StructField('vx',T.FloatType(), True),\
                       T.StructField('vy',T.FloatType(), True),\
                       T.StructField('vz',T.FloatType(), True),\
                       T.StructField('mass',T.FloatType(), True),\
                      ])

In [17]:
px = df['px'].tolist()
py = df['py'].tolist()
pz = df['pz'].tolist()
vx = df['vx'].tolist()
vy = df['vy'].tolist()
vz = df['vz'].tolist()
mass = df['mass'].tolist()

In [18]:
%%time
sparkdf = spark.createDataFrame(zip(px, py, pz, vx, vy, vz, mass),schema)

CPU times: user 3.09 s, sys: 52.8 ms, total: 3.14 s
Wall time: 4.56 s

In [19]:
%%time
sparkdf.show(3,truncate=True)

+---------+--------+---------+-----------+----------+----------+------------+
|       px|      py|       pz|         vx|        vy|        vz|        mass|
+---------+--------+---------+-----------+----------+----------+------------+
|15389.089|954.6169|4401.2954|-119.992165|-28.731781|-266.06906| 5.879042E-4|
| 15389.03|  954.67| 4401.004|-101.488754| 12.874359|-215.97354|4.2798722E-4|
|15389.012|955.1745|4400.6245|  -84.58567|-22.560968|-274.01807| 6.225057E-4|
+---------+--------+---------+-----------+----------+----------+------------+
only showing top 3 rows

CPU times: user 2.99 ms, sys: 3.45 ms, total: 6.44 ms
Wall time: 1.55 s

In [20]:
sparkdf.count()

829890

In [21]:
sparkdf.printSchema()

root
 |-- px: float (nullable = true)
 |-- py: float (nullable = true)
 |-- pz: float (nullable = true)
 |-- vx: float (nullable = true)
 |-- vy: float (nullable = true)
 |-- vz: float (nullable = true)
 |-- mass: float (nullable = true)

In [22]:
#outdir = 'hdfs://sohnic:54310/user/lshin/'
outdir = 'hdfs://sohnic:54310/data/TNG300/snap99/'

In [27]:
outname = outdir+h5list[0].replace("csv","parquet.snappy")
print(outname)

hdfs://sohnic:54310/data/TNG300/snap99/snap099_sorted_x0_y0_z0.parquet.snappy

In [28]:
%%time
sparkdf.write.option("compression", "snappy") \
    .mode("overwrite") \
    .save(outname)

CPU times: user 13.7 ms, sys: 6.92 ms, total: 20.6 ms
Wall time: 2.76 s

# Check up the parquet

In [45]:
%%time
# Read all parquets in the directory
newsparkdf = spark.read.option("header","true").option("recursiveFileLookup","true").parquet(outname)

CPU times: user 4.33 ms, sys: 8 µs, total: 4.34 ms
Wall time: 124 ms

In [46]:
newsparkdf.printSchema()

root
 |-- px: float (nullable = true)
 |-- py: float (nullable = true)
 |-- pz: float (nullable = true)
 |-- vx: float (nullable = true)
 |-- vy: float (nullable = true)
 |-- vz: float (nullable = true)
 |-- mass: float (nullable = true)

In [47]:
%%time
print(newsparkdf.count())

1206812
CPU times: user 1.99 ms, sys: 0 ns, total: 1.99 ms
Wall time: 254 ms

In [48]:
%%time
newsparkdf.limit(2).toPandas().transpose()

CPU times: user 8.11 ms, sys: 3.91 ms, total: 12 ms
Wall time: 353 ms

                  0              1
px    204866.796875  204869.765625
py    204772.015625  204746.625000
pz    197395.640625  197410.687500
vx         9.041390     254.601059
vy      -134.318375     -92.379158
vz       -66.458954      -7.044174
mass       0.000831       0.000476

In [49]:
newsparkdf.select(['px','py','pz']).show(3)

+---------+---------+---------+
|       px|       py|       pz|
+---------+---------+---------+
| 204866.8|204772.02|197395.64|
|204869.77|204746.62|197410.69|
|204835.03|204758.92|197448.14|
+---------+---------+---------+
only showing top 3 rows

In [38]:
%%time
newsparkdf.select(['px','py','pz']).describe().toPandas().set_index('summary').transpose()

CPU times: user 14 ms, sys: 0 ns, total: 14 ms
Wall time: 700 ms

summary   count                mean              stddev         min        max
px       829890   7333.757431926775  6489.1686268262965  0.35823357  20499.875
py       829890   7210.045494197404   4223.622205323317  0.09408737  20467.947
pz       829890  24904.023832161158   9929.996396301181    5.216663   34166.35

# repartition

In [39]:
%%time
newsparkdf.cache()
newsparkdf.repartition(10,"px").count()

CPU times: user 4.39 ms, sys: 0 ns, total: 4.39 ms
Wall time: 756 ms

829890

# Converting all files

In [27]:
outdir+h5list[0].split('_x0')[0]+ ".parquet.snappy"

'hdfs://sohnic:54310/data/TNG300/snap99/snap099_sorted.parquet.snappy'

In [1]:
%%time
sparkdf = spark.createDataFrame([], schema)

for i in tqdm(range(len(h5list))):
    df = pd.read_csv(h5dir + h5list[i])
    tempdf = spark.createDataFrame(df[['px', 'py', 'pz', 'vx', 'vy', 'vz', 'mass']])
    sparkdf = sparkdf.union(tempdf)  # Append to the existing DataFrame
    #print(i)

# Save to Parquet
outname = outdir+'parquet/'+h5list[0].split('_x0')[0]+ ".parquet.snappy"
print(outname)
sparkdf.write.option("compression", "snappy").mode("overwrite").save(outname)

In [51]:
%%time
#check
newsparkdf = spark.read.option("header","true").option("recursiveFileLookup","true").parquet(outname)

24/08/24 22:35:17 WARN SharedInMemoryCache: Evicting cached table partition metadata from memory due to size constraints (spark.sql.hive.filesourcePartitionFileCacheSize = 262144000 bytes). This may impact query planning performance.

CPU times: user 6.95 ms, sys: 267 µs, total: 7.21 ms
Wall time: 6.3 s

In [53]:
%%time
print(newsparkdf.count())

711967480
CPU times: user 28 ms, sys: 4 ms, total: 32 ms
Wall time: 10.1 s

# Saving subhalo catalog

In [4]:
#subhalo table (~few seconds)
t300 = pd.read_csv('./TNG300_quiescent_subhalos.csv')
print(len(t300))
t300.head()

104290

,Unnamed: 0,ID,GrNr,Posx,Posy,Posz,CMx,CMy,CMz,Velx,...,vdisp_dm_pos_sph_rh_z_bi,vdisp_dm_pos_sph_rh_z_mweight,vdisp_dm_pos_sph_rh_z_lweight,vdisp_dm_pos_sph_rh_3d_std,vdisp_dm_pos_sph_rh_3d_bi,vdisp_dm_pos_sph_rh_3d_mweight,vdisp_dm_pos_sph_rh_3d_lweight,central,quiescent,edge
0,1,394,0,41839.938,49050.410,146618.52,41841.720,49049.500,146618.42,505.39545,...,56.230135,0.0,0.0,93.595999,94.790011,0.0,0.0,0,1,1
1,2,403,0,45247.900,51453.363,145176.55,45247.434,51453.367,145176.25,484.58800,...,61.195377,0.0,0.0,108.910434,110.497556,0.0,0.0,0,1,1
2,3,421,0,43345.830,50114.844,148136.55,43344.582,50116.066,148136.56,2266.76460,...,57.704420,0.0,0.0,100.625152,102.887322,0.0,0.0,0,1,1
3,4,423,0,43848.816,51581.773,145344.84,43851.332,51581.540,145348.30,-1288.37480,...,49.692601,0.0,0.0,90.353464,92.019996,0.0,0.0,0,1,1
4,5,447,0,44503.348,47543.660,146977.92,44503.926,47543.100,146978.66,-157.55678,...,57.704970,0.0,0.0,102.185058,104.080819,0.0,0.0,0,1,1

In [5]:
t300.keys

<bound method NDFrame.keys of         Unnamed: 0     ID  GrNr        Posx        Posy       Posz  \
0                1    394     0   41839.938   49050.410  146618.52
1                2    403     0   45247.900   51453.363  145176.55
2                3    421     0   43345.830   50114.844  148136.55
3                4    423     0   43848.816   51581.773  145344.84
4                5    447     0   44503.348   47543.660  146977.92
...            ...    ...   ...         ...         ...        ...
104285           5  51512     9   59176.664    8106.176  100355.09
104286           6  55060    10   40907.820   98524.266  113316.53
104287           7  64929    13  204287.330  105547.060  191478.83
104288           8  68209    14  100361.830   23873.855  137372.61
104289           0      0     0   43718.812   48813.640  147594.95

               CMx         CMy         CMz        Velx  ...  \
0        41841.720   49049.500  146618.420   505.39545  ...
1        45247.434   51453.367  145176.250   484.58800  ...
2        43344.582   50116.066  148136.560  2266.76460  ...
3        43851.332   51581.540  145348.300 -1288.37480  ...
4        44503.926   47543.100  146978.660  -157.55678  ...
...            ...         ...         ...         ...  ...
104285   59224.370    8122.978  100351.350   154.05627  ...
104286   40868.430   98510.040  113355.445   138.67502  ...
104287  204321.810  105572.600  191487.480    74.56611  ...
104288  100336.180   23867.557  137419.900  -272.94580  ...
104289   44003.540   49335.137  147348.670   472.19620  ...

        vdisp_dm_pos_sph_rh_z_bi  vdisp_dm_pos_sph_rh_z_mweight  \
0                      56.230135                            0.0
1                      61.195377                            0.0
2                      57.704420                            0.0
3                      49.692601                            0.0
4                      57.704970                            0.0
...                          ...                            ...
104285                860.518116                            0.0
104286                929.143892                            0.0
104287                845.727292                            0.0
104288                852.565370                            0.0
104289               1171.545487                            0.0

        vdisp_dm_pos_sph_rh_z_lweight  vdisp_dm_pos_sph_rh_3d_std  \
0                                 0.0                   93.595999
1                                 0.0                  108.910434
2                                 0.0                  100.625152
3                                 0.0                   90.353464
4                                 0.0                  102.185058
...                               ...                         ...
104285                            0.0                 1525.014341
104286                            0.0                 1458.744167
104287                            0.0                 1427.806779
104288                            0.0                 1368.720306
104289                            0.0                 1986.357786

        vdisp_dm_pos_sph_rh_3d_bi  vdisp_dm_pos_sph_rh_3d_mweight  \
0                       94.790011                             0.0
1                      110.497556                             0.0
2                      102.887322                             0.0
3                       92.019996                             0.0
4                      104.080819                             0.0
...                           ...                             ...
104285                1541.668483                             0.0
104286                1471.318513                             0.0
104287                1438.344211                             0.0
104288                1389.028677                             0.0
104289                2012.348980                             0.0

        vdisp_dm_pos_sph_rh_3d_lweight  central  quiescent  edge
0                                  0.0        0          1     1
1                                  0.0        0          1     1
2                                  0.0        0          1     1
3                                  0.0        0          1     1
4                                  0.0        0          1     1
...                                ...      ...        ...   ...
104285                             0.0        1          1     0
104286                             0.0        1          1     1
104287                             0.0        1          1     0
104288                             0.0        1          1     1
104289                             0.0        1          1     1

[104290 rows x 560 columns]>

In [10]:
schema_sub = T.StructType([\
                       T.StructField('px',T.FloatType(), True),\
                       T.StructField('py',T.FloatType(), True),\
                       T.StructField('pz',T.FloatType(), True),\
                       T.StructField('vx',T.FloatType(), True),\
                       T.StructField('vy',T.FloatType(), True),\
                       T.StructField('vz',T.FloatType(), True),\
                       T.StructField('mass',T.FloatType(), True),\
                       T.StructField('sub_id',T.IntegerType(), True)
                      ])

px = t300['Posx'].tolist()
py = t300['Posy'].tolist()
pz = t300['Posz'].tolist()
vx = t300['Velx'].tolist()
vy = t300['Vely'].tolist()
vz = t300['Velz'].tolist()
mass = t300['Mass_star'].tolist()
sub_id = range(len(t300['Posx']))

In [11]:
%%time
subdf = spark.createDataFrame(zip(px, py, pz, vx, vy, vz, mass,sub_id),schema_sub)
subname = 'hdfs://sohnic:54310/data/TNG300/snap99/parquet/subhalo_trim.parquet.snappy'
subdf.write.option("compression", "snappy").mode("overwrite").save(subname)

CPU times: user 444 ms, sys: 19.3 ms, total: 463 ms
Wall time: 5.43 s